<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>首页</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/index.css"/>
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=75a19c355a55097b7b7b510e220ce251"></script>
</head>
<body id="home-box">
	<div class="mui-content g-content" id="immersed-homeContent">
		<div id="map"></div>
		<div id="toolbar">
			<!--<span id="news"><img id="newsImg" src="../img/user-msg.png"/></span>-->
			<span id="search"><img src="../img/search-icon.png"/></span>
			<span id="list"><img src="../img/parking-list.png"/></span>
			<span id="location"><img src="../img/user-location.png"/></span>
		</div>
		<div id="account"></div>
		<div id="parking-box"></div>
	</div>
	<script src="../js/immersed.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/mui.min.js"></script>
    <script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>