<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>导航</title>
    <link href="../css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
    <style type="text/css">
    	iframe {
    		width: 100%;
    		height: 100%;
    	}
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav header-bar">
		<a class="mui-action-back  mui-pull-left back"><span class="mui-icon mui-icon-arrowleft" style="font-size: 35px; padding-top: 3px;color:#292929;"></span></a>
		<h1 class="mui-title">去往停车场</h1>
	</header>
	<div class="mui-content g-content">
		<iframe id="aMap"></iframe>
	</div>
    <script src="../js/mui.min.js"></script>
    <script src="../js/app.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    	var aMap = document.getElementById('aMap'),data = app.getRequest(),src='https://uri.amap.com/navigation?';
    	if(data.endpoint){
    		if(data.startpoint){
	    		src+='from='+data.startpoint+',我的位置&to='+data.endpoint;
	    	}else{
	    		src+='to='+data.endpoint;
	    	};
	    	src+='&src=parkH5&callnative=1';
	    	aMap.src = src;
    	};
    </script>
</body>
</html>